[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-pinecone = "*"
python-dotenv = "*"
langchainhub = "*"
black = "*"
langchain-community = "*"
pygsheets = "*"
flask = "*"
flask-wtf = "*"
wtforms = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
bootstrap-flask = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
