<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Your page title</title>
        {% endblock %}
    </head>
    <body>
        <div> 
            <a href='/chat' > 
                <button class="GFG"> 
                Chat
                </button> 
            </a>
            <a href='/edit' > 
                <button class="GFG"> 
                Prompt Übersicht
                </button> 
            </a>
            <a href='/editsettings' > 
                <button class="GFG"> 
                Settings
                </button> 
            </a>
            <a href='/' > 
                <button class="GFG"> 
                Create Earnings Summary 
                </button> 
            </a>
            <a href='/upload' > 
                <button class="GFG"> 
                Upload new company
                </button> 
            </a>
        </div>
        <!-- Your page content -->
        {% block content %}
        
        {% endblock %}


    </body>
</html>