{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}
{% block content %}


      <h1 class="pt-5 pb-2">EarningsAI</h1>

      <p class="lead">This is the backoffice settings page where the queries can be managed </p>

      <hr>

          <div>
            <h1>Your Earningssummary is created.</h1>

            <a href= "/" > 
                <button class="GFG"> 
                   Zurück zur Übersicht 
                </button> 
            </a>

          </div>

      {% endblock %}