{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}
{% block content %}


      <h1 class="pt-5 pb-2">Edit: {{prompt.name}}</h1>

      <p class="lead">Here you can edit the prompt </p>

      <hr>
          <div>
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <td>id</td>
                        <td>name</td>
                        <td>content</td>
                        <td>cell</td>
                    </tr>
                </thead>
            <tbody>
        
                <tr>
                    <td>{{prompt.id}}</td>
                    <td>{{prompt.name}}</td>
                    <td>{{prompt.content}}</td>
                    <td>{{prompt.gsheetcell}}</td>
                </tr>
            
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-4">
                {{ render_form(form)}}
            </div>
        </div>
        
        <a href= "/edit" > 
            <button class="GFG"> 
               Zurück zur Übersicht 
            </button> 
        </a>
          </div>

      {% endblock %}